#img_log{
	width:30%; margin-left: 35%;border-radius: 50%;
}
#head_c{
	font-family: "Trebuchet MS";
}
#imgs_p{
	height: 150px;
}
#bt-i{
	margin-left: 30%;
}

.admin_pic{
	height: 200px;
	border-radius: 50%;
}